.App {
  margin: 3em auto;
  max-width: 50em;
}

.App h1 {
  text-align: center;
}

.SongComponent, .AlbumComponent {
  border: 1px solid lightgray;
  padding: 8px;
  margin: 8px;
}

.ViewHome, .ViewAlbums, .ViewLogin {
  padding: 8px;
}

.NavBar > a{
  padding: 8px;
}